<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORE</title>
    <link href="{{ url_for('static', path='/css/meny.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header_menu">
        <h1 align="center" class="title">
            MORE
        </h1>
        <ul align="center">
            <li>
                <a href="#">
                    Data Analysis
                </a>
            </li>
            <li>
                <a href="#">
                    Map
                </a>
                </li>
            <li>
                <a href="/country">
                    Personal account   
                </a>
            </li>
            <li>
                <a href="#">
                    Menu maker
                </a>
            </li>
            </ul>
    </header>

    <main class="content">
        <p class="description">
            Project description
        </p>
    </main>
</body>
</html>