<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORE</title>
    <link href="{{ url_for('static', path='/css/meny.css') }}" rel="stylesheet">
    <!-- <link href="/home/uladzimir/MORE/MORE_FAST_API/static/css/meny.css" rel="stylesheet"> -->
</head>
<body>
    <header class="header_menu">
        <h1 align="center" class="title">
            MORE
        </h1>
        <ul align="center">
            <li>
                <a href="#">
                    Data Analysis
                </a>
            </li>
            <li>
                <a href="#">
                    Map
                </a>
                </li>
            <li>
                <a href="#">
                    Personal account   
                </a>
            </li>
            <li>
                <a href="#">
                    Menu maker
                </a>
            </li>
            </ul>

    </header>
    

    <main style="display: flex">
        <div class="widget">
            <ul class="widget-list">
              <li><a href="/sapliers">Sapliers</a></li>
              <li><a href="/delivery">Delivery</a></li>
              <li><a href="">Sales</a></li>
              <!-- <li><a href=""></a></li>
              <li><a href="">Видео</a></li> -->
            </ul>
          </div>
        <table border=12 class="table" >
            <thead>
                <tr>
                    <th>id</th>
                    <th>Saplier</th>
                    <th>email</th>
                    <th>tel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for row in suplier %}
                    <!-- <p>
                        {{row.name}}
                        {{row.email}}
                        {{row.tel}}
                    </p> -->
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td> 
                        <td>{{row.email}}</td> 
                        <td>{{row.tel}}</td> 
                    </tr>                   
                    {% endfor %}
                   </tr>
            </tbody>
        </table>
    </main>
</body>
</html>


